* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: #000;
}

.room {
  width: 100vw;
  min-height: 100vh;

  background-image: url("../assets/room/room.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}